:root {
  --background-llamada-mobile: #0f0f0f;
  --background-blanco: #FFFFFF;
  --background-ceniza-claro: #F7F4F4;
  --background-ceniza-medio: #D9D9D9;
  --border-cabecera-mobile: #ff7396;
  --button-call: #ff3366;
  --fuente-ceniza-claro: #666666;
  --fuente-ceniza-oscuro: #4F4C4C;
  --planes-card-start:  #ff809f;
  --planes-card-ultra: #9875ff;
  --planes-card-mega: #ff75ba;
  --fuente-enlace: #7598ff;
  --background-footer: #0f0f0f;
  --ubuntu:'Ubuntu', sans-serif;
  --roboto:'Roboto', sans-serif;
  }
  

.diferenciales {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.diferenciales__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.diferenciales__item {
  max-width: 500px;
  box-sizing: border-box;
  padding: 2em 2em 0 3em;
}

img {
  max-width: 100%;
  margin: 10px;
}

.item__titulo {
  color: var(--fuente-ceniza-oscuro);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.item__texto {
  line-height: normal;
}

.diferenciales__item-icon {
  padding-top: 15px;
  color: var(--border-cabecera-mobile);
  font-size: 40px;
}

@media screen and (min-width: 1024px) {
  .diferenciales {
      background-color: var(--background-ceniza-claro);
  }
  .diferenciales__lista {
      justify-content: space-around;
      display: flex;
      flex-wrap: nowrap;
  }
}